version: "3.9"

services:
  db:
    image: postgres:15
    container_name: pharmacy_db
    restart: always
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  pgadmin:
    image: dpage/pgadmin4
    container_name: pharmacy_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin123@gamil.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"

  web:
    build: .
    container_name: pharmacy_web
    command: >
      sh -c "python manage.py makemigrations &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  postgres_data:
